# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*.so

# Project metadata and IDE/editor configs
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.*proj.user
**/*.dbmdl
**/*.jfm


export-secrets.sh
.vsc
__pycache__/
*.pyc
*.pyo
.devcontainer
.pytest_cache
docker-compose.yml
docker-compose.debug.yml
docker-compose.test.debug.yml
docker-compose.test.yml
docker-stack.yml

/docs
deploy-secrets.sh
export-*